.Home {
  $green: #3F9E94;
  $green-alt: rgba(136, 189, 107, 0.53);
  $dark-gray: rgb(126, 126, 126);
  $light-gray: rgb(158, 158, 158);
  $orange: #E46350;
  $black: #333;

  .wrapper {
    //max-width: 940px;
    //margin: 0 auto;
  }

  .wrapper > div {
    padding: 8px;
    align-items: center;
  }

  .sub {
    padding: 1em;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 700px) 630px;
    text-align: center;
  }

  /* Specific grid items */

  .banner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1 / span 3;
    
    background-image: url('~images/background-2.png');
    background-size: cover;
    //background: $green;

    img {
      width: 47%;
    }

    button {
      margin-top: 10px;
      border-color: $green-alt;
      background-color: $green-alt;
      color: white;

      &:hover {
        //border-color: $green-alt;
        //background-color: $green-alt;
      }
    }

    .fa {
      color: $black;
      font-size: 80px;
      margin: 20px 0;
    }

    .sub {
      h3, p {
        color: $black;
      }
    }

    .sub-1 {
      grid-column: 2 / span 3;
    }

    .sub-2 {
      grid-row: 2;
      grid-column: 2;
    }

    .sub-3 {
      grid-row: 2;
      grid-column: 3;
    }

    .sub-4 {
      grid-row: 2;
      grid-column: 4;
    }
  }
  
  .our-expertise {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row: 2;
    grid-column: 1 / 4;

    background: #617C8E; //rgba(0, 112, 255, 0.66);
    color: white;

    .sub {
      margin-bottom: 2em;
    }

    .sub-1 {
      grid-column: 1 / span 7;
      margin-bottom: 0;
    }

    .sub-2 {
      grid-column: 2;
    }

    .sub-5 {
      grid-column: 5 / span 2;
    }

    .sub-6 {
      grid-row: 3;
      grid-column: 2;
    }

    .sub-7 {
      grid-column: 3;
    }

    .sub-9 {
      //grid-column: 5 / span 2;
    }
  }
  
  .our-office {
    display: grid;
    grid-row: 3;
    grid-column: 1 / 4;

    background: #363636;
    color: white;

    h3 {
      margin-top: 16px; // matches margin-bottom of p, necessary for vertically centering the content
    }
  }
  
  .request-quote {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto repeat(5, 55px) auto;
    grid-row: 4;
    grid-column: 1 / 4;
    grid-column-gap: 16px;

    background: #E46350;
    color: white;

    button {
      border-color: white;
      color: white;
    }

    .sub {
      //border: 1px solid white;
      padding: 0;
      
      input {
        width: 92%;
      }
    }

    .sub-sub-1 {
      input {
        width: 90%;
      }
    }

    .sub-sub-2 {
      input {
        width: 67%;
      }
    }

    .sub-1 {
      grid-column: 2;
      grid-row: 1 / span 4;
      text-align: left;
      padding-right: 24px;

      position: relative;
      top: 110px;
    }

    .sub-2 {
      grid-row: 2;
      grid-column: 3;
    }

    .sub-3 {
      grid-row: 2;
      grid-column: 4;
    }

    .sub-4 {
      grid-row: 3;
      grid-column: 3;
    }

    .sub-5 {
      grid-row: 3;
      grid-column: 4;
    }

    .sub-6 {
      grid-row: 4;
      grid-column: 3;
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-column-gap: 16px;
    }

    .sub-7 {
      grid-row: 4;
      grid-column: 4;
    }

    .sub-8 {
      grid-row: 5;
      grid-column: 3;
    }

    .sub-9 {
      grid-row: 6;
      grid-column: 3;
      text-align: left;
    }
  }
  
  .footer {
    grid-row: 5;
    grid-column: 1 / 4;
    display: grid;

    background: #489C93;
    color: white;

    h3 {
      width: 25%;
      margin: 0 auto;
      margin-top: 50px;
      font-size: 30px;
    }

    .copyright {
      margin-top: 100px;
      margin-bottom: 0;
    }

    .social-media-icons {
      padding-bottom: 45px;
    }

    .fa {
      color: white;
      font-size: 60px;
      padding: 0 6px;
      padding-top: 16px;
    }

    .sub {
      padding: 0;
    }

    .sub-1 {
      margin-top: 60px;
    }
  }
}
