.Home {
  $green: #3F9E94;
  $green-alt: rgba(136, 189, 107, 0.53);
  $dark-gray: rgb(126, 126, 126);
  $light-gray: rgb(158, 158, 158);
  $orange: #E46350;
  $black: #333;
  $white: #FAFAFA; // white color used by apple, very subtle as rgb(250, 250, 250)

  $rowHeight: 700px;

  .wrapper {
    max-width: 1350px;
    margin: 0 auto;
    text-align: center;
  }

  .section {
    min-height: 700px;
    background: $white;
    color: $black;

    &:before {
      content: '';
      background-color: $white;
      position: absolute;
      height: 100%;
      width: 200vw;
      left: -100vw;
      z-index: -1;
    }
  }

  .subsection {
    padding: 1em; // debating whether I should keep this
  }

  /* Specific grid items */

  .banner {
    height: 900px;
    background: transparent;

    &:before {
      content: none;
    }

    video {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      //background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
      background-size: cover;
      transition: 1s opacity;
    }
  }
  
  .our-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    button {
      border-color: $green-alt;
      background-color: $green-alt;
      color: $black;

      &:hover {
        border-color: darken($green-alt, 10%);
        background-color: darken($green-alt, 10%);
      }
    }

    .fa {
      font-size: 80px;
      margin: 10px 0;
      display: block;
    }

    h3 {
      font-size: 56px;
      line-height: 1.07;
      font-weight: 600;
      letter-spacing: -0.005em;
      color: #111;
    }

    p {
      font-size: 21px;
      line-height: 1.38;
      font-weight: 400;
      letter-spacing: 0.011em;
    }
  }

  .our-expertise {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;

    .subsection {
      margin-bottom: 2em;
    }

    .subsection-1 {
      grid-column: 1 / span 5; // might not be the best way to handle the header
      margin-bottom: 0;
    }

    .subsection-5 {
      grid-column: 4 / span 2;
    }
  }
  
  .our-office {
    display: grid;
    align-items: center;

    h3 {
      margin-top: 16px; // matches margin-bottom of p, necessary for vertically centering the content
    }
  }
  
  .request-quote {
    display: grid;
    grid-template-columns: 18% 20% 44% 18%;
    grid-column-gap: 24px;

    button {
      border-color: $black;
      color: $black;
      margin: 6px;
      margin-bottom: 0;
      padding: 10px 10px;
      width: 115%; // need to exceed grid column dimensions slightly
    }

    input {
      border: 2px solid $black;
      width: calc(100% - 45px);
      margin: 6px;
    }

    .column {
      display: grid;
    }

    .subsection {
      text-align: left;
    }

    .subsection-1 {
      grid-row: 2;
      grid-column: 2;
    }

    .subsection-2 {
      grid-row: 2;
      grid-column: 3;

      display: grid;
      grid-template-columns: 35% 15% 50%;
      grid-template-rows: repeat(4, 55px) auto;
      align-items: start;

      .first-name {
        grid-column: 1 / span 2;
      }

      .last-name {
        grid-column: 3;
      }

      .organization {
        grid-column: 1 / span 2;
      }

      .city {
        grid-column: 3;
      }

      .telephone {
        grid-column: 1;
      }

      .extension {
        grid-column: 2;
      }

      .email-address {
        grid-column: 3;
      }

      .project-details {
        grid-column: 1 / span 3;
      }
    }
  }
  
  .footer {
    display: grid;
    align-items: center;

    h3 {
      width: 25%;
      margin: 0 auto;
      margin-top: 50px;
      font-size: 30px;
    }

    .copyright {
      margin-top: 100px;
      margin-bottom: 0;
    }

    .social-media-icons {
      padding-bottom: 45px;
    }

    .fa {
      font-size: 60px;
      padding: 0 6px;
      padding-top: 16px;
    }

    .subsection {
      padding: 0;
    }

    .subsection-1 {
      margin-top: 60px;
    }
  }

  // Custom breakpoint for banner section
  @media (max-width: 1210px) {
    .banner {
      grid-column-gap: 0;
    }
  }

  // Custom breakpoint for banner section
  @media (max-width: 1040px) {
    .banner {
      grid-template-columns:  1fr repeat(3, 3fr) 1fr;
    }
  }

  @media (max-width: 1000px) {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, auto);
      text-align: center;
    }

    .subsection {
      padding: 24px;

      p {
        margin-top: 0;
      }
    }

    // Specific sections

    .banner {
      grid-template-columns: 28% 44% 28%;
      
      padding-bottom: 60px;

      img {
        width: 80%;
      }

      .subsection-1 {
        grid-column: 1 / span 3;
      }

      .subsection-2 {
        grid-row: 2;
        grid-column: 2;
      }

      .subsection-3 {
        grid-row: 3;
        grid-column: 2;
      }

      .subsection-4 {
        grid-row: 4;
        grid-column: 2;
      }
    }

    .our-expertise {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 210px;

      .subsection-2, .subsection-4, .subsection-6, .subsection-8, .subsection-10 {
        grid-column: 1;
      }

      .subsection-3, .subsection-5, .subsection-7, .subsection-9 {
        grid-column: 2;
      }

      .subsection-6 {
        grid-row: auto;
      }

      img {
        height: 150px;
      }
    }

    .request-quote {
      grid-template-columns: 1fr;
      padding-bottom: 60px;

      button {
        width: auto;
      }

      .subsection {
        grid-column: 1;
        padding-bottom: 0;
      }

      .subsection-1 {
        grid-row: 1;
        text-align: center;
      }

      .subsection-2 {
        grid-template-columns: 2fr 1fr;
        //grid-template-rows: repeat(4, 55px) auto;
        //align-items: start;

        .first-name {
          grid-column: 1 / span 2;
        }

        .last-name {
          grid-column: 1 / span 2;
        }

        .organization {
          grid-column: 1 / span 2;
        }

        .city {
          grid-column: 1 / span 2;
        }

        .telephone {
          grid-column: 1;
        }

        .extension {
          grid-column: 2;
        }

        .email-address {
          grid-column: 1 / span 2;
        }

        .project-details {
          grid-column: 1 / span 2;
        }

        .submit-request {
          grid-column: 1 / span 2;
        }
      }
    }

    .footer {
      h3 {
        width: 50%;
      }
    }
  }

  @media (max-width: 650px) {
    .banner {
      grid-template-columns: 20% 60% 20%;

      img {
        width: 100%;
      }
    }

    .our-expertise {
      grid-template-columns: 1fr;

      .subsection-1, .subsection-2, .subsection-3, .subsection-4, .subsection-5, .subsection-6, .subsection-7, .subsection-8, .subsection-9, .subsection-10 {
        grid-column: 1;
      }
    }

    .footer {
      h3 {
        width: 95%;
      }

      .social-media-icons {
        padding-bottom: 24px;
      }
    }
  }

  // Custom breakpoint for banner icon sizes
  @media (max-width: 450px) {
    .banner {
      grid-template-columns: 0% 100% 0%;

      .fa {
        font-size: 60px;
      }
    }
  }
}
