.Header {
  $green: #3F9E94;
  $orange: #E46350;
  $white: #FAFAFA;
  $black: #333;
  $mask: rgba(0,0,0,0.2);

  background: $mask;

  .grid-container {
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% repeat(3, 1fr);
    justify-content: end;
  }

  section {
    text-align: center;
  }

  section.logo {
    text-align: left;

    img {
      margin-top: 8px;
    }

    // Have to strip away all the link styling used for the other header elements
    a {
      margin: 0;
      padding: 0;

      &::before, &::after {
        content: none;
      }
    }
  }

  section.portfolio {
    .subsection {
      display: none;
    }
  }

  /* Link styling */

  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.7px;
    color: white; //inherit;
    padding: 10px 0;
    transition: color 0.3s;

    position: relative;
    display: inline-block;
    margin: 15px 0;
    width: 100%;

    &:hover {
      color: white;
      cursor: pointer;
      text-decoration: none;
    }
  }

  a::before, a::after {
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
  }

  a::before {
    margin-right: 10px;
    content: '[';
    transform: translateX(20px);
  }

  a::after {
    margin-left: 10px;
    content: ']';
    transform: translateX(-20px);
  }

  a:hover::before,
  a:hover::after,
  a:focus::before,
  a:focus::after {
    opacity: 1;
    transform: translateX(0px);
  }
}
