.About {
  margin-top: 30px;

  .wrapper {
    // Outer
    max-width: 940px;
    margin: 0 auto;
    
    // Inner
    display: grid;
    grid-gap: 20px 15px;
    grid-auto-rows: minmax(100px, auto);

    text-align: center;
  }

  .section {
    display: grid;

    &:nth-child(2n) {
      grid-template-columns: 2fr 1fr;

      .content {
        order: -1;
      }
    }

    &:nth-child(2n+1) {
      grid-template-columns: 1fr 2fr;

      .content {
        order: 1;
      }
    }
  }

  .section, .subsection {
    // Styling
    border: 2px solid rgb(233,171,88);
    border-radius: 5px;
    background-color: rgba(233,171,88,.5);
    padding: 1em;
    color: #d9480f;
  }
}
