.Header {
  display: grid;
  grid: 1fr / repeat(5, 1fr);
  text-align: center;
  background: #272727;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  letter-spacing: 0.7px;
  height: 66px;
  align-items: center;

  .header {
    align-self: center;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .inner {
    width: 33%;
    margin: 0 auto;
    padding: 24px;
    transition: background 200ms;

    &:hover {
      background: #E46350;
      cursor: pointer;
    }
  }
}
