.Home {
  .container {
    display: grid;
    grid-template-columns: 400px 500px auto 500px 400px;
    grid-template-rows: 25% 100px auto;
    border: 3px solid black;
  }

  .item {
    border: 2px solid red;
  }
}
