.Home {
  .container {
    display: grid;
    grid: 20fr 1fr 20fr / 1fr 20fr 1fr 20fr 1fr 20fr 1fr 20fr 1fr;
    padding: 32px;
  }

  .item {
    img {
      height: 100%;
      width: 100%;
      transition: transform 250ms;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
